<div class="container">
  <div [hidden]="submitted">
    <h1>Login Form</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="name">UserName</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Valid Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="name">Password</label>
        <input type="text" class="form-control" id="password"
               required
               [(ngModel)]="model.password" name="password"
               #password="ngModel">
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          Vaild Password is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">
      Submit
      </button>
    </form>
  </div> 
</div>

  